fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-dotenv
alembic
passlib[bcrypt]
bcrypt<4.0.0
httpx
PyJWT
fastapi-sso
groq
langgraph
langchain-core
langchain-google-genai
langchain-groq
pyotp
qrcode
openai
langchain-openai
e2b_code_interpreter
mem0ai
langsmith
arize-phoenix
openlit
git+https://github.com/Hi1talib1World/langgraph-mcp-coding-assistant-project.git
zep-python
llmlingua
gptcache
aiofiles
sentence-transformers
ollama
spacy
qdrant-client