fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-dotenv
alembic
passlib[bcrypt]
bcrypt<4.0.0
httpx
PyJWT
fastapi-sso
groq
langgraph
langchain-core
langchain-google-genai
langchain-groq
pyotp
qrcode
openai
langchain-openai
e2b_code_interpreter
mem0ai
langsmith
arize-phoenix
opentelemetry-exporter-otlp
openinference-instrumentation-langchain
openinference-instrumentation-openai
openinference-instrumentation

llmlingua
gptcache
aiofiles
sentence-transformers
ollama
spacy
qdrant-client
boto3